.community-page {
    text-align: center;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.community-view {
    overflow-y: auto;
    height: 100%;
    padding: 20px 0px;
}

.community-page p {
    font-size: 14px;
    width: 80%;
    color: #8696A0;
    margin: auto;
}

.start-button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    color: #111b21;
    background-color: #00a884;
    cursor: pointer;
    margin: 20px auto;
}

.start-button:hover {
    background-color: #06CF9C;
}