.loading-spinner {
    margin: auto;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: orange;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

/* Light Theme */
.loading-spinner.light {
    border-left-color: #D9FDD3;
}

/* Dark Theme */
.loading-spinner.dark {
    border-left-color: #005C4B;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}