.new-group-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.new-group-page .search {
    margin: 0px 20px;
    border: none;
    outline: none;
    padding: 10px 0px;
    border-bottom: 1px solid #303D45;
    background-color: transparent;
}

.contacts-list {
    margin-top: 20px;
    overflow-y: auto;
    height: 100%;
}

.next-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00A884;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}